/*-- scss:defaults --*/


// Typography

$font-family-sans-serif:    "Alegreya Sans", sans-serif !default;
$font-family-monospace:     "Fira Code", monospace !default;
$font-family-base:          "Alegreya Sans", sans-serif !default;

$headings-font-family:      "Alegreya Sans SC", sans-serif !default;
$headings-font-style:       italic !default;
$headings-font-weight:      700 !default;

$input-btn-font-family: $font-family-sans-serif !default;



/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;1,500&family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap";
@if $web-font-path {
  @import url($web-font-path);
}

// Options

$enable-rounded: false;